<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css', type='text/css')}}"
      type="text/css"
    />
    <title>MTGTrackPad</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('homepage')}}">The MTG Trackpad</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mr-2 mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('new_record')}}"
              >New Event Record<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Coming Soon!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item disabled" href="#">Player Insights!</a>
          <a class="dropdown-item disabled" href="#">Format Insights!</a>
        </div>
      </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            id="playername"
            class="form-control mr-sm-2 text-center"
            type="search"
            placeholder="Search Player History"
            aria-label="Search"
            name="playername"
          />
          <a id="playerhistory" class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </a>
        </form>
      </div>
    </nav>

    <hr class="mt-0 mb-1 nav_ruler" />

    {% block content %} {% endblock %}
    <hr class="mt-1 mb-0 nav_ruler" />
    <footer class="foot-container">
        <div class="row p-3">
          <div class="col-12 col-md-4 text-center">
            <h6>Milestone Projects</h6>
            <p><a href="#">Milestone 1: MtG Art Blog</a></p>
            <p><a href="#">Milestone 2: MtG Guess the Card Game</a></p>
            <p><a href="#">Milestone 3: MtG Trackpad</a></p>
          </div>
          <div class="col-12 col-md-4 text-center">
            <h6>Other Information</h6>
            <p><a href="#">MtG Homepage</a></p>
            <p><a href="#">MtG Arena</a></p>
          </div>
          <div class="col-12 col-md-4 text-center">
            <h6>JPMurdie © 2020</h6>
            <p><a href="#">Github Homepage</a></p>
            <p><a href="#">Heroku Homepage</a></p>
          </div>
        </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static', filename='js/script.js', type='text/javascript')}}"></script>
  </body>
</html>

<!-- -->
