<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<!-- ---------------TITLE & INTRO/CTA CONTAINER---------------  -->
<div class="container">
  <!-- ---------------TITLE ROW---------------  -->
  <div class="row">
    <div class="col-12">
      <h3 class="m-3 text-center text-warning">Update Event Record</h3>
    </div>
  </div>
</div>
<hr />
<!-- ---------------USER DATA FORM---------------  -->
<form
  id="neweventform"
  class="p-3"
  method="POST"
  action="{{url_for('edit_record', record_id=record._id)}}"
  onkeydown="return event.key != 'Enter';"
>
  {{ form.csrf_token }}
  <!-- ---------------JQUERY CALC CONTAINER---------------  -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content box_form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">League Information</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                {{ form.eventstatusinput.label }} {{
                form.eventstatusinput(readonly=true) }}
              </div>
              <div class="col-12">
                {{ form.eventrecordinput.label }} {{
                form.eventrecordinput(readonly=true) }}
              </div>
              <div class="col-12">
                {{ form.eventgamewin.label }} {{
                form.eventgamewin(readonly=true) }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input
            class="btn btn-warning"
            type="submit"
            value="Update Event Record"
          />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------USER DATA CONTAINER---------------  -->
  <div class="container-fluid p-3">
    <!-- ---------------USER DATA FORM RESPONSIVE ROW---------------  -->
    <div class="p-3 shadow box_form">
      <div class="row text-center">
        <div class="col-12 col-md-3">
          {{ form.player_name.label }} {{
          form.player_name(value=record.player_name) }}
          <div class="my-1 text-center">
            {% for errors in form.player_name.errors %}
            <p class="m-0" style="color: red;">{{ errors }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="col-12 col-md-3">
          {{ form.mtgformat.label }}
          <div class="input-group mb-3">
            <select
              class="custom-select text-center"
              id="mtgformat"
              name="mtgformat"
            >
              <option class="text-center m-auto" selected>Choose Format</option>
              {% for format in formats %}
              <option class="text-center" value="{{format.format_name}}"
                >{{ format.format_name }}</option
              >
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-12 col-md-3">
          {{ form.deck_name.label }} {{ form.deck_name(value=record.deck_name)
          }}
          <div class="my-1 text-center">
            {% for errors in form.deck_name.errors %}
            <p class="m-0" style="color: red;">{{ errors }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="col-12 col-md-3">
          {{ form.event_date.label }} {{
          form.event_date(value=record.event_date) }}
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------ROUND DATA CONTAINER---------------  -->
  <div id="recordsubform" class="sub-form">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 p-2">
          <div class="p-3 shadow box_form">
            <!-- ---------------TITLE COLUMN---------------  -->
            <div class="col-12 text-center">
              <h6>Event Round 1</h6>
            </div>
            <div class="col-12 text-center">
              {{ form.first_oppname.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.first_oppname(value=record.event_rounds[0].opp_name) }}
              <div class="my-1 text-center">
                {% for errors in form.first_oppname.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.first_oppdeck.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.first_oppdeck(value=record.event_rounds[0].opp_deck) }}
              <div class="my-1 text-center">
                {% for errors in form.first_oppdeck.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.first_w.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.first_w(class_="wonnumber boxnumber",
              value=record.event_rounds[0].games_won) }}
              <div class="my-1 text-center">
                {% for errors in form.first_w.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.first_d.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.first_d(class_="boxnumber",
              value=record.event_rounds[0].games_drawn) }}
            </div>
            <div class="col-12 text-center">
              {{ form.first_l.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.first_l(class_='boxnumber',
              value=record.event_rounds[0].games_lost) }}
              <div class="my-1 text-center">
                {% for errors in form.first_l.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 p-2">
          <div class="p-3 shadow box_form">
            <!-- ---------------TITLE COLUMN---------------  -->
            <div class="col-12 text-center">
              <h6>Event Round 2</h6>
            </div>
            <div class="col-12 text-center">
              {{ form.second_oppname.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.second_oppname(class_='form_box',
              value=record.event_rounds[1].opp_name) }}
              <div class="my-1 text-center">
                {% for errors in form.second_oppname.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.second_oppdeck.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.second_oppdeck(class_='form_box',
              value=record.event_rounds[1].opp_deck) }}
              <div class="my-1 text-center">
                {% for errors in form.second_oppdeck.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.second_w.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.second_w(class_=" form_box wonnumber boxnumber",
              value=record.event_rounds[1].games_won) }}
              <div class="my-1 text-center">
                {% for errors in form.second_w.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.second_d.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.second_d(class_=" form_box boxnumber",
              value=record.event_rounds[1].games_drawn) }}
            </div>
            <div class="col-12 text-center">
              {{ form.second_l.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.second_l(class_=' form_box boxnumber',
              value=record.event_rounds[1].games_lost) }}
              <div class="my-1 text-center">
                {% for errors in form.second_l.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 p-2">
          <div class="p-3 shadow box_form">
            <!-- ---------------TITLE COLUMN---------------  -->
            <div class="col-12 text-center">
              <h6>Event Round 3</h6>
            </div>
            <div class="col-12 text-center">
              {{ form.third_oppname.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.third_oppname(class_='form_box',
              value=record.event_rounds[2].opp_name) }}
              <div class="my-1 text-center">
                {% for errors in form.third_oppname.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.third_oppdeck.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.third_oppdeck(class_='form_box',
              value=record.event_rounds[2].opp_deck) }}
              <div class="my-1 text-center">
                {% for errors in form.third_oppdeck.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.third_w.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.third_w(class_="form_box wonnumber boxnumber",
              value=record.event_rounds[2].games_won) }}
              <div class="my-1 text-center">
                {% for errors in form.third_w.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.third_d.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.third_d(class_="form_box boxnumber",
              value=record.event_rounds[2].games_drawn) }}
            </div>
            <div class="col-12 text-center">
              {{ form.third_l.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.third_l(class_='form_box boxnumber',
              value=record.event_rounds[2].games_lost) }}
              <div class="my-1 text-center">
                {% for errors in form.third_l.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 offset-md-2 col-md-4 p-2">
          <div class="p-3 shadow box_form">
            <!-- ---------------TITLE COLUMN---------------  -->
            <div class="col-12 text-center">
              <h6>Event Round 4</h6>
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_oppname.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_oppname(class_='form_box',
              value=record.event_rounds[3].opp_name) }}
              <div class="my-1 text-center">
                {% for errors in form.fourth_oppname.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_oppdeck.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_oppdeck(class_='form_box',
              value=record.event_rounds[3].opp_deck) }}
              <div class="my-1 text-center">
                {% for errors in form.fourth_oppdeck.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_w.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_w(class_=" form_box wonnumber boxnumber",
              value=record.event_rounds[3].games_won) }}
              <div class="my-1 text-center">
                {% for errors in form.fourth_w.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_d.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_d(class_=" form_box boxnumber",
              value=record.event_rounds[3].games_drawn) }}
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_l.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fourth_l(class_='form_box boxnumber',
              value=record.event_rounds[3].games_lost) }}
              <div class="my-1 text-center">
                {% for errors in form.fourth_l.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 p-2">
          <div class="p-3 shadow box_form">
            <!-- ---------------TITLE COLUMN---------------  -->
            <div class="col-12 text-center">
              <h6>Event Round 5</h6>
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_oppname.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_oppname(class_='form_box',
              value=record.event_rounds[4].opp_name) }}
              <div class="my-1 text-center">
                {% for errors in form.fifth_oppname.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_oppdeck.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_oppdeck(class_='form_box',
              value=record.event_rounds[4].opp_deck) }}
              <div class="my-1 text-center">
                {% for errors in form.fifth_oppdeck.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_w.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_w(class_="form_box wonnumber boxnumber",
              value=record.event_rounds[4].games_won) }}
              <div class="my-1 text-center">
                {% for errors in form.fifth_w.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_d.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_d(class_="form_box boxnumber",
              value=record.event_rounds[4].games_drawn) }}
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_l.label }}
            </div>
            <div class="col-12 text-center">
              {{ form.fifth_l(class_='form_box boxnumber',
              value=record.event_rounds[4].games_lost) }}
              <div class="my-1 text-center">
                {% for errors in form.fifth_l.errors %}
                <p class="m-0" style="color: red;">{{ errors }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------FORM BUTTONS CONTAINER---------------  -->
  <div class="container-fluid my-3 text-center">
    <div class="row text-center">
      <div class="col-12 col-md-4 my-2 mx-auto">
        <button
          type="button"
          class="btn btn-warning check-fields"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Calculate Event Results
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
