<!DOCTYPE html>
{% extends 'base.html'%} {% block content %}
<div class="container">
	<div class="row">
		<div class="offset-3 col-6">
			<h3 class="m-3 text-center">Welcome to MTG Trackpad</h3>
		</div>
	</div>
    <div class="row">
        <div class="col-12">
            <p class="m-3 text-center">MTG Trackpad is designed as an open data port for you to record you event records as you play MTG. This is much like how your record was tracked by the old DCI methods, except for manual input.</p>
        </div>
    </div>
        <div class="row">
        <div class="col-12">
            <p class="m-3 text-center">Please take a look around and when you're ready, record your first event or run of games on MTG Trackpad via the New Record link within the navigation bar</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="offset-2 col-8">
        <h2 class=" my-2 text-center border">Advertisement</h2>
        </div>
    </div>
</div>
{% endblock %}